<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top mt-0">
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag 'logo.png' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Add Board", new_board_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "User", pages_path, class: "nav-link" %>
        </li>
        <!-- <li class="nav-item">
          <%= link_to "Bookings", "#", class: "nav-link" %>
        </li> -->
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", "#", class: "dropdown-item" %>
            <%= link_to "Settings", "#", class: "dropdown-item" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', new_user_session_path, class: "btn btn-outline-secondary btn-sm" %>  
        </li>
      <% end %>    
    </ul>
  </div>
</div>