<div class="container">
  <h1>Profile</h1>
  <div class="container mt-3">
  <h2>Bookings:</h2>
    <div class="row row-cols-1 row-cols-md-3 m-3">
    <% @bookings.each do |booking| %>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-body-dash">
            <p> Start Date:   <%=booking.begin_date%><br></p>
            <p> End date:   <%=booking.end_date%><br></p>
            <p> User:   <%=current_user.name%><br></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div class="container mt-3">
  <p>Boards:</p>
    <div class="row row-cols-1 row-cols-md-3 m-3">
    <% @boards.each do |board| %>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-body-dash">
            <p>Style:   <%=board.style%></p>
            <p>Size:   <%=board.size%> </p>
            <p>Year:   <%=board.year%> </p>
            <p>Price per day:   <%=board.price_per_day%> </p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
