<div class="container">
  <h1>Profile</h1>
  new board
  <div class="container mt-3">
  <p>Bookings:</p>
    <div class="row row-cols-1 row-cols-md-3 m-3">
    <% @bookings.each do |booking| %>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-body">
            <%=booking.board.style%>
            <%=booking.board.size%>
            <%=booking.board.year%>
            <%=booking.board.price_per_day%>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div class="container mt-3">
  <p>Boards:</p>
    <div class="row row-cols-1 row-cols-md-3 m-3">
    <% @boards.each do |board| %>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-body">
            <%=board.style%>
            <%=board.size%>
            <%=board.year%>
            <%=board.price_per_day%>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
