<div class="banner" style="background-image: url('<%= image_path 'image2.jpg' %>');">
  <div class="banner-content">
    <h1>Board for us</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p> 
  </div>
</div>

<div class="container">
  <div class="row">
    <% @boards.each do |board| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card mb-2" style="background-image: url(<%= cl_image_path board.photo.key %>);">
          <div class="card-description">
            <h2><%= board.style %></h2>
            <h3><%= board.size %></h3>
            <h3><%= board.year %></h3>
            <h3><%= board.price_per_day %></h3>
            <a href="#" class="btn btn-primary">Rent</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
