<div class="banner" style="background-image: url('<%= image_path 'image2.jpg' %>');">
  <div class="banner-content">
    <h1>Board for Us</h1>
    <h2> Welcome to Boards for Us! Here, you can find the best board that fits your goals</h2>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-3 m-3">
  <% @boards.each do |board| %>
    <div class="col mb-4">
      <% if board.photo.attached? == nil %> 
        <div class="card h-100" style="background-image: url(<%= cl_image_path board.photo.key %>);"> 
      <% else%>
        <div class="card h-100" style="background-image: url(https://images.unsplash.com/photo-1531722569936-825d3dd91b15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
      <% end %>
      <div class="card-description">
        <%=board.style%>
        <%=board.size%>
        <%=board.year%>
        <%=board.price_per_day%> <br>
        <%= link_to "Check this board", board_path(board), class: 'card-link' %>
      </div>
    </div>
  <% end %>
  </div>
</div>
