<div class="banner" style="background-image: url('<%= image_path 'image2.jpg' %>');">
  <div class="banner-content">
    <h1>Board for Us</h1>
    <h2> Welcome to Boards for Us! Here, you can find the best board that fits your goals</h2>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-3 m-3">
  <% @boards.each do |board| %>
    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-body">
          <%=board.style%>
          <%=board.size%>
          <%=board.year%>
          <%=board.price_per_day%> <br>
          <%= link_to "Check this board", board_path(board) %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
