<div class="banner" style="background-image: url('<%= image_path 'image4.jpg' %>');">
  <div class="banner-content">
    <h1>BOARDS</h1>
    <h1>FOR US</h1>
  </div>

  <div class="banner-subtitle">
    <!-- <h2> THE BOARD THAT FITS TO YOU</h2> -->
    <p>
        <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<!-- <form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" name="query" type="number" placeholder="Type here" aria-label="Search" value="<%= params[:query] %>">
  <select class="form-control select required" name="column_name" id="column_name"><option value="price_per_day">price per day</option>
  <option value="year">year</option></select>
  <button class="btn btn-outline-secondary btn-md" type="submit">Search</button>
</form> -->
<div class="container">


  <%= form_tag boards_path, method: :get, class: "d-flex" do %>
    <%= number_field_tag :price_per_day,
      params[:price_per_day],
      class: "form-control m-1 w-25",
      placeholder: "Price"
    %>
    <%= number_field_tag :year,
      params[:year],
      class: "form-control m-1 w-25",
      placeholder: "Year"
    %>
    
    <%= select_tag :size,
      raw("<option>Select a size</option><option>Small</option><option>Medium</option><option>Large</option>"),
      class: "form-control select required m-1 w-25",
      placeholder: "Size"
    %>
    <%= select_tag :style,
      raw("<option>Select a style</option><option>Pranchinha</option><option>SUP</option><option>Long</option>"),
      class: "form-control select required m-1 w-25",
      placeholder: "Style"
    %>
    <%= submit_tag "Search", class: "btn btn-outline-secondary btn-md" %>
  <% end %>


  <div class="row">
    <% @boards.each do |board| %>
    <div class="col-6">
        <% if board.photo.attached? == true %>
          <div class="card m-4" style="background-image: url(<%= cl_image_path board.photo.key %>);">
           <div class="card-description">
            <h2>Board Style:<%=board.style%></h2>
            <h2>Price per day:<%=board.price_per_day%> <br></h2>
            <%= link_to "Check this board", board_path(board), class: 'btn btn-blue p-0' %>
          </div>
        </div>
        <% else%>
          <div class="card m-4" style="background-image: url(https://images.unsplash.com/photo-1531722569936-825d3dd91b15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
            <div class="card-description">
              <h2>Board Style: <%=board.style%></h2>
              <h2>Price per day: <%=board.price_per_day%> <br></p>
              <%= link_to "Check this board", board_path(board), class: 'btn btn-blue p-0' %>
            </div>
          </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


