<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1><strong>New board</strong></h1>

      <%= simple_form_for [ @board ] do |f| %>
        <%= f.input :style, collection: ["Pranchinha", "SUP", "Long"] %>
        <%= f.input :size, collection: ["Small", "Medium", "Large"] %>
        <%= f.input :year %>
        <%= f.input :price_per_day %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
